[Account]
user = 
pass = 

[Token]
sacsid = 
csrftoken = 

[Verify]
b = 
c = 
v = 
appuid = 

[Local]
shflt = 
lat = 
lng = 
zoom = 

[Bound]
maxlat = 
minlat = 
maxlng = 
minlng = 

[Portal]
maxlat = 
minlat = 
maxlng = 
minlng = 
